{% extends "base.html" %}
{% load staticfiles %}

{% block page-content %}

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Policy Status</li>
  </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Security Policies</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="status-table" width="100%" cellspacing="0" url="{% url 'status_table' %}">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Type</th>
                  <th>Capability</th>
                  <th>Creation Date</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Type</th>
                  <th>Capability</th>
                  <th>Creation Date</th>
                  <th>Action</th>
                </tr>
              </tfoot>
              <tbody>
               
           
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
{% endblock page-content %}

{% block scripts %}
<script src="{% static 'js/sb-admin-datatables.min.js' %}"></script>
<script src="{% static 'js/policy-status.js' %}"></script>

{% endblock scripts %}