{% extends "base.html" %}
{% load staticfiles %}


{% block stylesheets %}
  <link href="{% static 'css/editor-tool.css' %}" rel="stylesheet">
{% endblock stylesheets %}


{% block page-content %}

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Policy Editor Tool</li>
  </ol>
  <!-- HSPLs container -->
  <div id="hspl-form-container">
    <div id="hspl-policies-container">
      <div id="hspl-policy-0" class="hspl-policy">
      <div class="col-lg-12">
        <div class="card mb-3">
          <div class="card-header policy-header">
            <div class="row">
              <div class="col-lg-10">
                <i class="fa fa-file-text"></i> <span class="policy-name">HSPL-0</span>
              </div>
              <div class="col-lg-2">
                <div class="row">
                  <div class="col-md-5 text-right" style="margin-left: 20px;margin-right: -20px">
                    Priority:
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control priority-select float-right" style="height: 30px; width: 80px;">
                       <option selected>1000</option>
                       <option>2000</option>
                       <option>3000</option>
                       <option>4000</option>
                       <option>5000</option>
                      </select>
                  </div>
                  <div class="col-lg-2 trash-container" style="margin-left: -20px" >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Action/Object/Subject row -->
            <div class="row">
                <!-- Action -->
                <div class="col-lg-4">
                  <div class="card mb-3">
                    <div class="card-header">
                      <i class="fa fa-gear"></i> Action</div>
                    <div class="card-body">
                      <div class="form-group">
                        <select class="form-control action-select">
                          <option value="" disabled selected>Select an action...</option>
                        </select>
                      </div>
                    </div>
                    <div class="card-footer small text-muted">The action performed over the object</div>
                  </div>
                </div>
                <!-- Object -->
                <div class="col-lg-4">
                  <div class="card mb-3">
                    <div class="card-header">
                      <i class="fa fa-shield"></i> Object</div>
                    <div class="card-body">
                      <div class="form-group">
                        <select class="form-control object-select" disabled>
                          <option value="" disabled selected>Select object...</option>
                        </select>
                      </div>
                    </div>
                    <div class="card-footer small text-muted">The object for the action</div>
                  </div>
                </div>
                <!-- Subject -->
                <div class="col-lg-4">
                  <div class="card mb-3">
                    <div class="card-header">
                      <i class="fa fa-user"></i> Subject</div>
                    <div class="card-body">
                      <!--<label for="exampleInputName">First name</label>
                            <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">-->
                      <div class="form-group">
                        <select class="form-control subject-select"  disabled>
                          <option value="" disabled selected>Select a subject...</option>
                        </select>
                      </div>
                    </div>
                    <div class="card-footer small text-muted">The subject for the action</div>
                  </div>
                <!-- End col -->
                </div>
            </div>
            <!-- Fields row -->
            <div class="row">
                <div class="col-lg-12">
                  <div class="card mb-3">
                    <div class="card-header">
                      <i class="fa fa-sliders"></i> Fields</div>
                    <div class="card-body">
                      <div class="form-group">
                        <div class="form-row">
                          <div class="col-md-4">
                            <label for="traffic-target-select">Traffic target</label>
                            <select class="form-control traffic-target-select" disabled>
                              <option value="" disabled selected>Select traffic-target...</option>
                              <option>IoT_Controller</option>
                              <option>IoT_Broker</option>
                              <option>PAA</option>
                            </select>
                          </div>
                          <div class="col-md-4">
                            <label for="purpose-select">Purpose</label>
                            <select class="form-control purpose-select" disabled>
                              <option value="" disabled selected>Select purpose...</option>
                              <option>PUT</option>
                            </select>
                          </div>
                          <div class="col-md-4">
                            <label for="resource-select">Resource</label>
                            <select class="form-control resource-select" disabled>
                              <option value="" disabled selected>Select resource...</option>
                              <option>TEMPERATURE</option>
                              <option>HUMIDITY</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer small text-muted">Specific fields depending on the action/object</div>
                  </div>
                <!-- End col -->
                </div>
            <!-- End Fields row -->
            </div>
              <!-- Dependencies row -->
              <div class="row">
                <div class="col-lg-12">
                  <div class="card mb-3">
                    <a data-toggle="collapse" href="#collapse-dcies-0"
                     role="button" aria-expanded="true"
                      aria-controls="collapse-dcies-0"
                      style="color:#212529">
                      <div class="card-header">
                        <i class="fa fa-link"></i>
                        Dependencies
                      </div>
                    </a>
                    <div class="card-container collapse" id="collapse-dcies-0">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-12 dependencies-container"></div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12 text-center">
                              <button class="btn btn-primary add-dependency-btn" type="button">
                                <i class="fa fa-plus"></i>
                              </button>
                           </div>
                        </div>
                      </div>
                      <div class="card-footer small text-muted">Specific fields depending on the action/object</div>
                    </div>
                  </div>
                <!-- End col -->
                </div>
                <!-- End Fields row -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End policy container -->
    <!-- Buttons row -->
    <div class="row">
       <div class="col-lg-12 text-center">
          <button id="add-hspl-btn" class="btn btn-primary" type="button">
            <i class="fa fa-plus"></i>
          </button>
          <button id="refine-btn" class="btn btn-primary" type="button">
            Refinement
          </button>
       </div>
    </div>
  </div>

  <!--
   <div class="row">
      <div class="col-lg-5"></div>
      <div class="col-lg-2" id="translate-btn-container">
        <a id="translate-btn" class="btn btn-info btn-block">Refinement</a>
      </div>
      <div class="col-lg-5"></div>
    </div>
  </div>
  -->
  <!-- Translation row (hiden at first) -->
  <div class="row d-none" id="translate-container">
    <div class="col-lg-12">
      <!-- Refinement card -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-code"></i> Policy Refinement</div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-5">
              <div class="card mb-3">
                <div class="card-header">
                  <i class="fa fa-sticky-note-o"></i> HSPL</div>
                <div class="card-body">
                  <textarea class="form-control" rows="10" id="hspl_text" disabled></textarea>
                </div>
                <div class="card-footer small text-muted">Generated HSPL policy</div>
              </div>
            <!-- End col -->
            </div>

            <div class="col-lg-2">
                <img src="{% static 'img/arrow.png' %}" alt="arrow" height="100" width="150" style="display:block;margin:auto;">
            </div>

            <div class="col-lg-5">
              <!-- Area Chart Example-->
              <div class="card mb-3">
                <div class="card-header">
                  <i class="fa fa-sticky-note"></i> MSPL</div>
                <div class="card-body">
                  <!--<label for="exampleInputName">First name</label>
                        <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">-->
                  <textarea class="form-control" rows="10" id="mspl_text" disabled></textarea>
                </div>
                <div class="card-footer small text-muted">JSON input for the m2eservice with the generated MSPL policies</div>
              </div>
            </div>
          </div>
          <!-- Enforcement button row -->
          <div class="row">
            <div class="col-lg-4">
            <!-- End col -->
            </div>
            <div class="col-lg-2" id="modify-btn-container">
              <a id="modify-btn" class="btn btn-primary btn-block">Modify</a>
            </div>
            <div class="col-lg-2" id="enforce-btn-container">
              <a id="enforce-btn" class="btn btn-success btn-block">Enforce Request</a>
            </div>
            <div class="col-lg-4">
            <!-- End col -->
            </div>
          </div>
        </div>
        <div class="card-footer small text-muted">Policy refinement</div>
      </div>
    <!-- End col -->
    </div>
    <!-- End row -->
  </div>


<!-- Fields row -->
<div class="row dependency d-none">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-sliders"></i> Dependency
          <button class="btn btn-primary remove-dependency-btn float-right" type="button">
            <i class="fa fa-trash"></i>
          </button>
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="dependency-type-select">Dependency Type</label>
                <select class="form-control dependency-type-select">
                  <option value="" disabled selected>Select dependency type...</option>
                  <option>Policy</option>
                  <option>Event</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="purpose-select">Target</label>
                <select class="form-control dependency-target-select" disabled>
                  <option value="" disabled selected>Select dependency target...</option>
                  <option>AUTHN_SUCCESS</option>
                  <option>AUTHZ_SUCCESS</option>
                </select>
              </div>
              <!--
              <div class="col-md-4">
                <label for="status-subject-select">Status</label>
                <select class="form-control dependency-status-select" disabled>
                  <option value="" disabled selected>Select status...</option>
                  <option>PENDING</option>
                  <option>ENFORCED</option>
                  <option>DELETED</option>
                </select>
              </div>
               -->
            </div>
          </div>
        </div>
        <div class="card-footer small text-muted">Specific fields depending on the action/object</div>
      </div>
    <!-- End col -->
    </div>
<!-- End Fields row -->
</div>

<!--
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>


  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is a small modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
-->
{% endblock page-content %}

{% block scripts %}

<script src="{% static 'js/notify.js' %}"></script>
<script src="{% static 'js/editor-tool.js' %}"></script>

{% endblock scripts %}